.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.spaced-evenly {
  display: grid;
  gap: 4px;
}

.columns.spaced-evenly > div {
  align-items: center;
  gap: 4px;
}

.columns.spaced-evenly .teaser {
  gap: 0;
}

.columns.spaced-evenly .teaser-content,
.columns.spaced-evenly .teaser-text > :is(p, div) {
  margin: 0;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.spaced-evenly > div {
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, max-content));
    justify-content: space-evenly;
    gap: 4px 72px;
  }

  .columns.spaced-evenly > div > div {
    flex: unset;
  }
}
